/*Css rest*/
* {
    margin: 0px;
    padding: 0px;
}

/*navigation bar*/
#navbar {
    display: flex;
    align-items: center;
    position: fixed;
    /*position: relative;*/
    font-family: cursive;
    width: 152%;
}

/*navigation bar: logo and image*/
#logo {
    margin: 10px 24px;
}
.searchbar{
    margin: 0px 390px;
    padding: 0px 20px;
}
.searchbar input{
    border-radius: 8px;
    margin: 0px 2px;
    padding: 3px 26px;
}
#logo img {
    margin: 1px 0px;
}

/*navigation bar: list styling*/
#navbar ul {
    display: flex;
}

#navbar::before {
    content: "";
    background-color: rgb(0, 0, 0);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#navbar ul li {
    list-style: none;
    font-size: 16px;
}

#navbar ul li a {
    text-decoration: none;
    display: block;
    padding: 5px 18px;
    color: white;
    border-radius: 20px;
}

#navbar ul li a:hover {
    color: rgb(255, 0, 0);
    background-color: antiquewhite;
}

/*Home section*/
#home {
    display: flex;
    flex-direction: column;
    padding: 5px 200px;
    align-items: center;
    justify-content: center;
    height: 360px;
}

#home::before {
    content: "";
    background: url("bg1.jpg") no-repeat center center/cover;
    position: absolute;
    height: 79%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
    margin-bottom: 99px;

}

.h-primary {
    font-size: 39px;
    padding: 4px;
    font-family: sans-serif;
}
.h-secondery{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
}

#home h1 {
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 140px;
    border-right: 2px solid white;
    width: 68%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1.5s steps(24),
        cursor .4s step-end infinite alternate;
    animation-delay: 1s;
}

/*cursur blinking*/
@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

/*tyiping effect*/
@keyframes typing {
    from {
        width: 0;
    }
}

/*services section*/
#services {
    margin: 34px;
    display: flex;
}

#services .box {
    /* border: 2px solid brown;*/
    text-align: center;
    justify-content: center;
    padding: 0px 15px;
    margin: 0px 5px;
    border-radius: 20px;
    /*background-color: rgb(234, 227, 227);*/
    box-shadow: 10px 12px 12px rgb(165, 165, 153);
}
#services .box img {
    height: 136px;
    display: block;
    margin: auto;
}
#services .box p{
    font-family:cursive;
    font-size: 15px;
}
/*contact section*/
.Contact-items {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 21px;
}
#contact-us::before{
      content: "";
      position: absolute;
      background: url("contact us.jpg");
      height: 44%;
    width: 100%;
    z-index: -1;
    opacity: 0.79;
}
.email img{
    height: 70px;
    padding: 2px;
    margin: 28px;
    
}
.contimg img{
    height: 98px;
    padding: 2px;
    filter: brightness(65%);
    margin: 27px;
}
.conhead{
    font-size: 23px;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 15px 560px;
}
#about-us{
    position: absolute;
    height: 35%;
    width: 100%;
    background-color:black ;
    color: white;
}
.abouthead{
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px 570px;
}
#about-us a{
    text-decoration: none;
    color: white;
}
#about-us a:hover{
    color: orangered;
}
#about-us p{
    margin: 15px 18px;
    font-size: 16px;
}
#locimg{
    height: 16px;
    width: 14px;
    margin: -2px 4px;
}
.foot{
    margin: auto;
    text-align: center;
}
.logo{
    font size: 23px;
}